# Secrets générés
ansible/secrets.yml

# Binaire
go-server/test_server/server_arm64

# Fichiers de mot de passe (temporaires ou non)
.vault_pass
ansible/.vault_pass
~/.vault_pass

# Terraform (si tu ne l'as pas déjà fait)

.terraform/
*.tfstate
*.tfstate.backup
*.lock.hcl
compile_commands.json

#ficher scp pour debug
log.txt

ansible/secrets.yml

ROADMAP
ansible/roles/app/
ansible/roles/ingress/
ansible/roles/logging/
ansible/roles/monitoring/
network.txt
out
.gitignore

terraform/vault/ansible/

go-server/.env