vault {
  address = "http://vault:{{ vault_port }}"
}

auto_auth {
  method "aws" {
    config = {
      type = "iam"
      role = "db-role"
    }
  }
  sink "file" {
    config = {
      path = "/secrets/.vault-token"
    }
  }
}

template {
  source = "/vault/templates/db_name.tpl"
  destination = "/secrets/db_name"
  perms = "0600"
}

template {
  source = "/vault/templates/db_password.tpl"
  destination = "/secrets/db_password"
  perms = "0600"
}

template {
  source = "/vault/templates/db_user.tpl"
  destination = "/secrets/db_user"
  perms = "0600"
}

template {
  contents    = <<EOT
{{ with pkiCert "pki/issue/db-pki" "common_name=postgres.transcendance.local" "ttl=24h" }}
{{ .Cert }}{{ .CA }}{{ .Key }}
{{ end }}
EOT
  destination = "/secrets/tls-bundle"
  perms       = "0600"
  command     = "psql -h /var/run/postgresql -c 'SELECT pg_reload_conf();' || true"
}
