vault {
  address = "http://vault:{{ vault_port }}"
}

auto_auth {
  method "aws" {
    config = {
      type = "iam"
      role = "db-role"
    }
  }
  sink "file" {
    config = {
      path = "/secrets/.vault-token"
    }
  }
}

template {
  source = "/vault/templates/db_name.tpl"
  destination = "/secrets/db_name"
  perms = "0444"
}

template {
  source = "/vault/templates/db_password.tpl"
  destination = "/secrets/db_password"
  perms = "0444"
}

template {
  source = "/vault/templates/db_user.tpl"
  destination = "/secrets/db_user"
  perms = "0444"
}
