services:
  vault-agent:
    image: hashicorp/vault:{{ vault_version }}
    user: "70:70"
    networks:
      - security_net
    extra_hosts:
      - "vault:host-gateway"
    entrypoint: >
      sh -c "chmod 700 /secrets && exec vault agent -config=/vault/config/agent.hcl"
    volumes:
      - ./agent.hcl:/vault/config/agent.hcl:ro
      - ./db_user.tpl:/vault/templates/db_user.tpl:ro
      - ./db_password.tpl:/vault/templates/db_password.tpl:ro
      - ./db_name.tpl:/vault/templates/db_name.tpl:ro
      - secrets:/secrets
      - postg_socket:/var/run/postgresql
    environment:
      - SKIP_SETCAP=true
      - SKIP_CHOWN=true
    restart: always

  db:
    image: postgres:{{ db_version }}
    pid: service:vault-agent
    ports:
      - 5432:5432
    networks:
      - security_net
    extra_hosts:
      - "169.254.169.254:127.0.0.1"
    environment:
      - POSTGRES_USER_FILE=/secrets/db_user
      - POSTGRES_PASSWORD_FILE=/secrets/db_password
      - POSTGRES_DB_FILE=/secrets/db_name
      - PGDATA=/var/lib/postgresql/data
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - secrets:/secrets:ro
      - postg_socket:/var/run/postgresql
      - ./postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    command: >
      sh -c "
      echo 'DB Waiting for Vault secrets...';
      until [ -s /secrets/db_password ]; do
        sleep 2;
      done;
      echo 'Secrets found! Launching PostgreSQL...';
      exec docker-entrypoint.sh postgres -c config_file=/etc/postgresql/postgresql.conf
      "
    restart: always
    depends_on:
      - vault-agent

volumes:
  postgres_data:
    driver: local
  secrets:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: "size=10m,uid=70,gid=70,mode=700"
  postg_socket:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: "size=1m,uid=70,gid=70,mode=750"

networks:
  security_net:
    driver: bridge
